{% extends "base.html" %}

{% block content %}
<h1 style="padding-left:6px;">Ionospheric Weather Expert Service Centre (I-ESC)</h1>
<div class="parent">
    <div class="objectives">
        <h3>Mission statement</h3>
        <p>The mission of the of the Ionospheric Weather ESC (I-ESC) is to is to provide and develop the functionalities, capabilities and expertise in the domain of Ionosphere and upper Atmosphere that are needed within the ESA SWE network to achieve as a collaborative enterprise its mission of demonstrating and assessing the influences of Space Weather and informing and supporting end users through the provision of accurate, reliable and timely products and (pre-)operational services, tailored to their requirements. The I-ESC thus provides, implements and supports the Ionospheric and upper Atmosphere Weather products and capabilities of the ESA SWE network, including the observation, monitoring, interpretation, modelling and forecasting of Ionospheric and upper Atmosphere Weather conditions.
            
        </p>
    </div>
    <div class="products">
        <h3>Current products</h3>
        <!-- <a href="{% url 'tec' %}">TEC map of Europe</a> <br> -->
    </div>


</div>
{% endblock content %}