<!DOCTYPE html>
\n<html>
    \n<head>\n    
        <meta charset="utf-8">\n    
        <meta http-equiv="X-UA-Compatible" content="IE=edge">\n    
        <title>OpenAM</title>\n
    </head>\n\n
    <body>\n\n  
    <div id="messages"></div>\n    
    <div id="wrapper">Loading...</div>\n    
    <div id="popup">\n       
         <div id="popup-content" class="radious">

         </div>\n    </div>\n    
         <div id="footer"></div>\n    
         <div id="dialog-background"></div>\n   
          <div id="dialogs"></div>\n\n   
           <script data-main="main" src="{% static 'C:\Users\shayla.viet\OneDrive - ESA\Documents\ESOC\progging\website_development\.venv\Lib\site-packages\requirejs\r.js' %}"></script>\n\n</body>\n</html>\n'